# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
test_db.sqlite3
# SQLite databases
*.sqlite3
*.db

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# Environments
.env
.envrc
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp

# mypy / pyre / pytype / ruff
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Others
cython_debug/
marimo/_static/
marimo/_lsp/
__marimo__/
.abstra/
.pdm-python
.pdm-build/
.pixi
__pypackages__/
.gitignore